In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

from utils import data_processing

%reload_ext autoreload
%autoreload 2

In [19]:
def get_data_by_year(year, path_data = '../data'):
    datasets = os.listdir(f'{path_data}')
    data_file = [f'{path_data}/{data}' for data in datasets if int(data[:4]) == year]
    df = pd.read_csv(*data_file)
    return df

relevant_columns = ['playername', 'teamname', 'kills', 'deaths', 'assists', 'dpm', 'total cs']
df = get_data_by_year(2023)
data = (
    df
    [(df['league'] == 'MSI') & (df['position'] == 'top')]
    .loc[:, relevant_columns]
    .groupby(['playername'])
    .agg(
        average_kills = pd.NamedAgg('kills', 'mean'),
        average_deaths = pd.NamedAgg('deaths', 'mean'),
        average_assists = pd.NamedAgg('assists', 'mean'),
        average_dpm = pd.NamedAgg('dpm', 'mean'),
        average_cs = pd.NamedAgg('total cs', 'mean'),
    )
    .reset_index()
).head(10)
data
# fig, axes = plt.subplots(len(data.columns), 1, figsize=(8, 4))
#         # im = ax.imshow(data2d, cmap=input.cmap(), vmin=input.range()[0], vmax=input.range()[1])
# for ax, col in zip(axes, data.columns):
#     sns.barplot(data, x=col, y='playername' , ax=ax)

,playername,average_kills,average_deaths,average_assists,average_dpm,average_cs
0,369,2.363636,1.909091,6.818182,444.847664,227.454545
1,Azhi,2.444444,2.555556,6.666667,375.355033,260.000000
2,Bin,3.272727,2.681818,6.227273,522.320455,264.045455
3,Bong,2.000000,4.000000,3.428571,455.213986,206.571429
4,BrokenBlade,4.133333,2.600000,5.533333,533.555100,219.533333
5,Chasy,1.166667,3.833333,1.500000,347.845917,183.166667
6,Doran,1.600000,3.600000,4.866667,417.983320,217.666667
7,Fudge,2.200000,3.200000,3.200000,443.974470,226.400000
8,Kiaya,3.000000,3.800000,2.800000,558.562480,247.800000
9,Licorice,2.000000,1.823529,5.058824,454.365047,230.411765

In [15]:
data[col]

playername
369            227.454545
Azhi           260.000000
Bin            264.045455
Bong           206.571429
BrokenBlade    219.533333
Chasy          183.166667
Doran          217.666667
Fudge          226.400000
Kiaya          247.800000
Licorice       230.411765
Robo           214.500000
Zeus           212.529412
tol2           204.750000
Name: average_cs, dtype: float64

In [10]:
with pd.option_context('display.max_columns', None):
    display(df.head(6))

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,participantid,side,position,playername,playerid,teamname,teamid,champion,ban1,ban2,ban3,ban4,ban5,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,firstbloodkill,firstbloodassist,firstbloodvictim,team kpm,ckpm,firstdragon,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,chemtechs,hextechs,dragons (type unknown),elders,opp_elders,firstherald,heralds,opp_heralds,firstbaron,barons,opp_barons,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,turretplates,opp_turretplates,inhibitors,opp_inhibitors,damagetochampions,dpm,damageshare,damagetakenperminute,damagemitigatedperminute,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,earnedgoldshare,goldspent,gspd,total cs,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,1,Blue,top,Wylenz,oe:player:60aff1184bec1d2b2efdae84f5b6e3e,Klanik Esport,oe:team:0ade5e44c23039bca133eee58ec1b83,Jax,Sylas,Caitlyn,Wukong,Akali,Yone,2612,1,4,0,6,13,7,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2986,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,14283,328.0934,0.150027,719.5406,878.9127,20,0.4594,5,0.1149,11,49,1.1256,18855,13251,304.3874,0.295868,15955,NaN,399.0,367.0,32,NaN,NaN,9.1654,3163.0,4772.0,83.0,3087.0,4814.0,81.0,76.0,-42.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5059.0,7946.0,143.0,4737.0,7683.0,131.0,322.0,263.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,2,Blue,jng,Julbu,oe:player:fd78e127e45463dcfc2ea3836af0335,Klanik Esport,oe:team:0ade5e44c23039bca133eee58ec1b83,Poppy,Sylas,Caitlyn,Wukong,Akali,Yone,2612,1,2,2,4,13,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2986,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6219,142.8560,0.065324,847.3047,1513.9663,18,0.4135,11,0.2527,17,61,1.4012,12082,6478,148.8055,0.144640,11675,NaN,159.0,23.0,136,NaN,NaN,3.6524,3035.0,3302.0,54.0,2948.0,3140.0,66.0,87.0,162.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0,4325.0,4637.0,74.0,4682.0,5960.0,117.0,-357.0,-1323.0,-43.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,3,Blue,mid,Sintax,oe:player:baf7147fedeec5de54ca1f240952a3f,Klanik Esport,oe:team:0ade5e44c23039bca133eee58ec1b83,Taliyah,Sylas,Caitlyn,Wukong,Akali,Yone,2612,1,2,2,11,13,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2986,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,27028,620.8576,0.283899,365.3522,323.7289,23,0.5283,10,0.2297,7,49,1.1256,15722,10118,232.4196,0.225914,14525,NaN,337.0,287.0,50,NaN,NaN,7.7412,3117.0,4927.0,85.0,3455.0,5174.0,103.0,-338.0,-247.0,-18.0,0.0,0.0,0.0,0.0,0.0,0.0,4956.0,7772.0,136.0,5435.0,8096.0,162.0,-479.0,-324.0,-26.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,4,Blue,bot,Axelent,oe:player:8204ca38dc1c42012b5d53131271eb1,Klanik Esport,oe:team:0ade5e44c23039bca133eee58ec1b83,Ezreal,Sylas,Caitlyn,Wukong,Akali,Yone,2612,1,5,1,7,13,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2986,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,42005,964.8928,0.441215,398.4533,234.3721,17,0.3905,6,0.1378,5,47,1.0796,17332,11728,269.4028,0.261862,15225,NaN,370.0,345.0,25,NaN,NaN,8.4992,3344.0,3377.0,94.0,3015.0,2948.0,75.0,329.0,429.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,5217.0,5647.0,142.0,5017.0,5355.0,122.0,200.0,292.0,20.0,0.0,0.0,0.0,1.0,0.0,0.0
4,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,5,Blue,sup,Wixo,oe:player:bb97cd2e43cb0855f6485e6f9e93ea2,Klanik Esport,oe:team:0ade5e44c23039bca133eee58ec1b83,Karma,Sylas,Caitlyn,Wukong,Akali,Yone,2612,1,0,2,10,13,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.2986,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5668,130.1991,0.059536,360.2757,284.1501,52,1.1945,8,0.1838,15,106,2.4349,8816,3212,73.7825,0.071716,8125,NaN,21.0,17.0,4,NaN,NaN,0.4824,1953.0,2367.0,1.0,2032.0,2825.0,3.0,-79.0,-458.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,2827.0,3218.0,3.0,3043.0,3797.0,3.0,-216.0,-579.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
5,ESPORTSTMNT06_2753012,complete,NaN,LFL2,2023,Spring,0,2023-01-10 17:07:16,1,13.01,6,Red,top,Anathar,oe:player:082439970ea1ebc85bde0b2a9ec147a,MS Company,oe:team:14ad76b8d9e647d4b29c3d26ecd29c9,Sejuani,Galio,Lucian,Fiora,Viktor,Azir,2612,0,0,4,3,7,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1608,0.4594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,12010,275.8806,0.140743,987.5191,1430.5590,10,0.2297,9,0.2067,3,43,0.9877,11796,6192,142.2358,0.178315,12025,NaN,264.0,264.0,0,NaN,NaN,6.0643,3087.0,4814.0,81.0,3163.0,4772.0,83.0,-76.0,42.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,4737.0,7683.0,131.0,5059.0,7946.0,143.0,-322.0,-263.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0